<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
</head>
<body>
    <h1>emails for users</h1>
    <div id="email-list">
        <ul>
            {% for user in users %}
            <li>
                <div>
                    <h2>{{ user.username }}</h2>
                    <ul>
                        {% for email in user.emails %}
                        <li>{{ email.email }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <h2>create a new email</h2>
    <form hx-post="/users/create-and-list" hx-target="#email-list" >
        <input type="text" name="username" placeholder="username" />
        <input type="text" name="email" placeholder="email" />
    
        <button type="submit">
            create
        </button>
    </form>
   
</html>
